.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

/* =======================================================================================
Example showing how to change the color/size of the icons:
.icon-name {
	font-size: 32px; // works because "width" & "height" were set using em units
	color: red; // works for single-colored icons, because "fill" was set to "currentColor"
}
======================================================================================== */

.icon-download {
	width: 1.09375em;
}

.icon-graduate {
	width: 1.31640625em;
}

.icon-home {
	width: 0.9285723995417356em;
}

.icon-linkedin {
	width: 0.8571425303816795em;
}

.icon-graduation-cap {
	width: 1.2857187371701002em;
}
