@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?s2ap61");
  src: url("fonts/icomoon.eot?s2ap61#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?s2ap61") format("truetype"), url("fonts/icomoon.woff?s2ap61") format("woff"), url("fonts/icomoon.svg?s2ap61#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"], .name a:after, .title a:after, nav a:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  margin: 0;
  padding: 0;
  background: #282828;
  font-family: Avenir Next, Open Sans, sans-serif; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

header {
  display: flex;
  border: 1px solid goldenrod; }

/* Header */
#main {
  border: 1px solid #646464;
  width: 100vw;
  max-width: 640px;
  margin: 0 auto;
  background: ghostwhite; }

.headshot {
  width: 33.02%; }

.links {
  display: flex;
  flex-direction: column;
  width: 66.98%; }
  .links div {
    display: flex; }
  .links .name {
    background: #353535; }
  .links .title {
    background: #2b2b2b; }
  .links .name a,
  .links .title a {
    font-family: Avenir Next, Open Sans, sans-serif;
    color: #8b8b8b;
    text-transform: uppercase; }
  .links .name a {
    font-size: 20px; }
  .links .name a:after {
    content: "\e914"; }
  .links .title a {
    font-size: 13px; }
  .links .title a:after {
    content: "\f0e1"; }
  .links nav {
    display: flex; }
    .links nav a {
      color: white;
      font-family: Avenir Next Condensed, Open Sans Condensed, sans-serif;
      text-transform: uppercase;
      flex: 1;
      text-align: center;
      font-size: 12px;
      padding: .9em .5em; }
    .links nav a:hover {
      opacity: .85; }
    .links nav a:before {
      display: block;
      margin: 0 auto .2em auto;
      font-size: 22px; }
    .links nav .home {
      background-color: #00bd9c; }
    .links nav .home:before {
      content: "\e153"; }
    .links nav .resume {
      background-color: #2b97de; }
    .links nav .resume:before {
      content: "\e90f"; }
    .links nav .portfolio {
      background-color: #9c55b8; }
    .links nav .portfolio:before {
      content: "\e903"; }
    .links nav .contacts {
      background-color: #e87e02; }
    .links nav .contacts:before {
      content: "\e900"; }
    .links nav .feedback {
      background-color: #e94b35; }
    .links nav .feedback:before {
      content: "\e912"; }
    .links nav .blog {
      background-color: #daa900; }
    .links nav .blog:before {
      content: "\e913"; }

.class {
  border: 1px solid blanchedalmond; }
