body {
  margin: 0;
  padding: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.screen-nav {
  display: none;
  height: 0px; }

#main {
  background: #282828;
  border: 1px solid #646464; }
