@-webkit-keyframes dripping {
  0% {
    transform: scale(0) translateY(0px);
    opacity: 1; }
  80% {
    transform: scale(1) translateY(0px);
    opacity: 1; }
  100% {
    transform: translateY(290px); } }
@-moz-keyframes dripping {
  0% {
    transform: scale(0) translateY(0px);
    opacity: 1; }
  80% {
    transform: scale(1) translateY(0px);
    opacity: 1; }
  100% {
    transform: translateY(290px); } }
@keyframes dripping {
  0% {
    transform: scale(0) translateY(0px);
    opacity: 1; }
  80% {
    transform: scale(1) translateY(0px);
    opacity: 1; }
  100% {
    transform: translateY(290px); } }
@-webkit-keyframes fire {
  0% {
    transform: scale(1, 1) translateY(0px);
    opacity: 1; }
  80% {
    transform: scale(1, 0.9) translateY(1px);
    opacity: 1; }
  100% {
    transform: scale(1, 1) translateY(0px);
    opacity: 1; } }
@-moz-keyframes fire {
  0% {
    transform: scale(1, 1) translateY(0px);
    opacity: 1; }
  80% {
    transform: scale(1, 0.9) translateY(1px);
    opacity: 1; }
  100% {
    transform: scale(1, 1) translateY(0px);
    opacity: 1; } }
@keyframes fire {
  0% {
    transform: scale(1, 1) translateY(0px);
    opacity: 1; }
  80% {
    transform: scale(1, 0.9) translateY(1px);
    opacity: 1; }
  100% {
    transform: scale(1, 1) translateY(0px);
    opacity: 1; } }
@-webkit-keyframes fire-center {
  0% {
    transform: scale(1, 1) translateY(0px); }
  50% {
    transform: scale(1.2, 1.2) translateY(1px); }
  100% {
    transform: scale(1, 1) translateY(0px); } }
@-moz-keyframes fire-center {
  0% {
    transform: scale(1, 1) translateY(0px); }
  50% {
    transform: scale(1.2, 1.2) translateY(1px); }
  100% {
    transform: scale(1, 1) translateY(0px); } }
@keyframes fire-center {
  0% {
    transform: scale(1, 1) translateY(0px); }
  50% {
    transform: scale(1.2, 1.2) translateY(1px); }
  100% {
    transform: scale(1, 1) translateY(0px); } }
@-webkit-keyframes bubbles {
  0% {
    transform: scale(0.2, 0.2) translateY(0px);
    opacity: 0; }
  100% {
    transform: scale(1, 1) translateY(-70px);
    opacity: 1; } }
@-moz-keyframes bubbles {
  0% {
    transform: scale(0.2, 0.2) translateY(0px);
    opacity: 0; }
  100% {
    transform: scale(1, 1) translateY(-70px);
    opacity: 1; } }
@keyframes bubbles {
  0% {
    transform: scale(0.2, 0.2) translateY(0px);
    opacity: 0; }
  100% {
    transform: scale(1, 1) translateY(-70px);
    opacity: 1; } }
@-webkit-keyframes ripple {
  0% {
    transform: translateY(0px) skewY(0deg); }
  4% {
    transform: translateY(-3px) skewY(1deg); }
  8% {
    transform: translateY(0px) skewY(0deg); }
  14% {
    transform: translateY(-2px) skewY(-1deg); }
  20% {
    transform: translateY(0px) skewY(0deg); }
  30% {
    transform: translateY(-1px) skewY(1deg); }
  40% {
    transform: translateY(0px) skewY(0deg); } }
@-moz-keyframes ripple {
  0% {
    transform: translateY(0px) skewY(0deg); }
  4% {
    transform: translateY(-3px) skewY(1deg); }
  8% {
    transform: translateY(0px) skewY(0deg); }
  14% {
    transform: translateY(-2px) skewY(-1deg); }
  20% {
    transform: translateY(0px) skewY(0deg); }
  30% {
    transform: translateY(-1px) skewY(1deg); }
  40% {
    transform: translateY(0px) skewY(0deg); } }
@keyframes ripple {
  0% {
    transform: translateY(0px) skewY(0deg); }
  4% {
    transform: translateY(-3px) skewY(1deg); }
  8% {
    transform: translateY(0px) skewY(0deg); }
  14% {
    transform: translateY(-2px) skewY(-1deg); }
  20% {
    transform: translateY(0px) skewY(0deg); }
  30% {
    transform: translateY(-1px) skewY(1deg); }
  40% {
    transform: translateY(0px) skewY(0deg); } }
/**
* Wanky page structural styling
*/
.wanky_pages {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }
  .wanky_pages .wanky_page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: auto;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .wanky_pages .wanky_current_page {
    visibility: visible; }
  .wanky_pages .wanky_page_top {
    z-index: 4; }

.questions fieldset {
  text-align: center;
  border: 0; }
  .questions fieldset h2 {
    margin: 200px 0 0 0; }
.questions fieldset:nth-child(1) {
  background-color: #ffc1c1; }
.questions fieldset:nth-child(2) {
  background-color: #b9b9ff; }
.questions fieldset:nth-child(3) {
  background-color: #ffc1c1; }
.questions fieldset:nth-child(4) {
  background-color: #b9b9ff; }
.questions fieldset:nth-child(5) {
  background-color: #ffc1c1; }
.questions fieldset:nth-child(6) {
  background-color: #b9b9ff; }

body, html {
  margin: 0;
  background: #38bba5; }

.home-banner {
  display: block;
  width: 100%;
  max-width: 700px;
  margin: 100px auto; }
  .home-banner #drop {
    position: relative;
    -webkit-animation: dripping 4s infinite ease-in both;
    -moz-animation: dripping 4s infinite ease-in both;
    animation: dripping 4s infinite ease-in both;
    transform-origin: 50% 0%;
    z-index: 1; }
  .home-banner #flame-01 {
    position: relative;
    -webkit-animation: fire 0.4s infinite ease-in both;
    -moz-animation: fire 0.4s infinite ease-in both;
    animation: fire 0.4s infinite ease-in both;
    transform-origin: 50% 100%; }
  .home-banner #flame-02 {
    position: relative;
    -webkit-animation: fire 0.4s infinite ease-in both;
    -moz-animation: fire 0.4s infinite ease-in both;
    animation: fire 0.4s infinite ease-in both;
    -webkit-animation-delay: 0.2s;
    /* Chrome, Safari, Opera */
    animation-delay: 0.2s;
    transform-origin: 50% 100%; }
  .home-banner #flame-mid {
    position: relative;
    -webkit-animation: fire-center 0.4s infinite ease-in both;
    -moz-animation: fire-center 0.4s infinite ease-in both;
    animation: fire-center 0.4s infinite ease-in both;
    transform-origin: 50% 50%; }
  .home-banner .bubble {
    position: relative;
    -webkit-animation: bubbles 0.9s infinite ease-in both;
    -moz-animation: bubbles 0.9s infinite ease-in both;
    animation: bubbles 0.9s infinite ease-in both;
    transform-origin: 50% 100%;
    opacity: 0; }
  .home-banner #bubble-01 {
    animation-delay: 0.2s; }
  .home-banner #bubble-02 {
    animation-delay: 0.5s; }
  .home-banner #bubble-03 {
    animation-delay: 0.4s; }
  .home-banner #beaker-markers {
    position: relative;
    z-index: 5; }
  .home-banner #beaker-fill {
    position: relative;
    -webkit-animation: ripple 4s infinite ease-in both;
    -moz-animation: ripple 4s infinite ease-in both;
    animation: ripple 4s infinite ease-in both;
    animation-delay: 3.9s;
    transform-origin: 50% 0%; }  